<h1>Список страниц</h1>

<%= link_to 'Добавить страницу', "/add" %><br><br>

<ul id="menu">
  <% for page in Page.roots %>
    <li><%= link_to h(page.title), page.path %></li>
    <% if page.children.present? %>
      <%= render 'sub_menu', page: page %>
      <% end %>
  <% end %>
</ul>
